@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66%;
}
.col-7 {
    width: 58.33%;
}
.col-6 {
    width: 50%;
}   
.col-4 {
    width: 31.67%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.67%;
}
.col-1 {
    width: 8.3%;
}

.d-flex {
    display: flex;
}
.width-100 {
    width: 100%;
}
.center-v {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.center-h {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.card {
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    padding: 10px 20px;
    margin: 20px 10px;
}
.container {
    padding: 50px 10%;
}
