@media only screen and (max-width: 1000px) {
    .hero-content {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }
    .hero-sub {
        width: 100%;
        position: relative;
        top: 20%;
        scale: 0.7;
        justify-content: space-between;
    }
    .hero-sub .sosmed {
        margin-left: 0;
    }
    .info h1, .info p:nth-child(3) {
        color: #fff;
    }
    .image {
        justify-content: flex-end;
        position: relative;
        bottom: 0;
        height: 70%;
        width: 100%;
    }
    .image img {
        width: 70%;
    }
}
@media only screen and (max-width: 700px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar .dropdown i {
        display: flex;
    }
    .logo {
        text-shadow: 0 0 1px #fff;
    }
    .dropdown i {
        color: #fff;
        font-size: 20px;
    }
    .nav-link {
        width: 150px;
        position: absolute;
        right: -250px;
        display: none;
    }
    .dropdown .nav-link.show {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
    }
    .nav-link .icon {
        position: relative;
    }
    .nav-link .icon i {
        background-color: #fff;
        padding: 5px 0 5px 5px;
        border-radius: 20px 0 0 20px;
        position: relative;
        top: -50px;
        color: #000;
        font-size: 20px;
    }
    .link {
        padding: 20px;
        background-color: #fff;
        flex-direction: column;
    }
    .dropdown .nav-link .link a {
        color: #000;
        z-index: 99;
        text-align: center;
    }
    .about, .skil, .portfolio {
        flex-direction: column;
    }
    .about-me {
        justify-content: left;
    }
    .card {
        width: 100%;
    }
    .main-display {
        width: 100%;
    }
    .portfolio .port .display {
        flex-direction: row;
        width: 100%;
    }
    .port .display .img {
        width: 50%;
    }
}